@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* PRIMARY (Flame Coral) */
	--color-primary-50: 255 242 238;
	--color-primary-100: 255 224 216;
	--color-primary-200: 255 194 179;
	--color-primary-300: 255 153 128;
	--color-primary-400: 255 112 82;
	--color-primary-500: 255 90 60; /* #FF5A3C */
	--color-primary-600: 230 65 40;
	--color-primary-700: 200 50 35;
	--color-primary-800: 160 35 28;
	--color-primary-900: 120 25 20;
	--color-primary-950: 80 18 15;

	/* SECONDARY (Midnight Graphite) */
	--color-secondary-50: 245 245 245;
	--color-secondary-100: 229 229 229;
	--color-secondary-200: 200 200 200;
	--color-secondary-300: 160 160 160;
	--color-secondary-400: 120 120 120;
	--color-secondary-500: 31 31 31; /* #1F1F1F */
	--color-secondary-600: 24 24 24;
	--color-secondary-700: 18 18 18;
	--color-secondary-800: 12 12 12;
	--color-secondary-900: 8 8 8;
	--color-secondary-950: 4 4 4;

	/* TERTIARY (Sunrise Amber) */
	--color-tertiary-50: 255 248 235;
	--color-tertiary-100: 255 239 209;
	--color-tertiary-200: 255 224 166;
	--color-tertiary-300: 255 205 128;
	--color-tertiary-400: 255 183 90;
	--color-tertiary-500: 255 179 71; /* #FFB347 */
	--color-tertiary-600: 240 150 50;
	--color-tertiary-700: 220 120 35;
	--color-tertiary-800: 180 90 25;
	--color-tertiary-900: 140 65 18;
	--color-tertiary-950: 100 45 12;
}
